<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle"><font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="" v-model="test.aaa" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle"><font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="" v-model="test.bbb" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/test/add.js}"></script>
</body>
</html>