<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>注册用户</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/login.min.css">
</head>
<body>
<div class="login" id="dpLTE" v-cloak>
    <div class="message">注册用户界面</div>
    <div id="darkbannerwrap"></div>
    <form method="post">
        <div v-if="error" class="alert alert-danger alert-dismissible">
            <h4 style="margin-bottom: 0px;font-size:13px;">
                <i class="fa fa-exclamation-triangle"></i> {{errorMsg}}
            </h4>
        </div>
        <input placeholder="手机号" v-model="telephone" type="text">
        <hr class="hr15">
        <input value="获取验证码" style="width: 100%;" type="button" @click="sendCaptcha"  >
        <hr class="hr15">
        <input placeholder="密码" v-model="password" type="password">
        <hr class="hr15">
        <input placeholder="验证码" v-model="captcha" type="text">
        <hr class="hr15">
        <input value="注册" style="width: 100%;" type="button" @click="register"  >
        <hr class="hr20">
    </form>
</div>
<!--<div class="copyright">
    © Mr.Lin by<a href="http://www.centling.com/" target="_blank"> Mr.Lin</a>
</div>-->
<script src="libs/jquery.min.js"></script>
<script src="libs/vue.min.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el : '#dpLTE',
        data : {
            telephone : '',
            password : '',
            error : false,
            errorMsg : '',
            captcha:'',
            src: 'sys/captcha.jpg'
        },
        methods : {
            sendCaptcha : function(){
                $.ajax({
                    type :"GET",
                    url:"sys/smsInfo",
                    //data:{"password":vm.password,"telephone":vm.telephone,"captcha":vm.captcha},
                    data:{"telephone":vm.telephone},
                    dataType : "json",
                    success : function(result) {
                        if (result.code == 0) {//登录成功
                            dialogMsg("请求成功","1");
                        } else {
                            vm.error = true;
                            vm.errorMsg = result.msg;
                            vm.refreshCode();
                        }
                    }
                });
            },
            register : function(event) {
                if (vm.password == '') {
                    vm.error = true;
                    vm.errorMsg = '密码为空';
                    return false;
                }
                if(vm.captcha==''){
                    vm.error=true;
                    vm.errorMsg="输入的验证码为空";
                    return false;
                }
                $.ajax({
                    type : "POST",
                    url : "sys/register",
                    data:{"password":vm.password,"telephone":vm.telephone,"captcha":vm.captcha},
                    dataType : "json",
                    success : function(result) {
                        if (result.code == 0) {//登录成功
                            dialogMsg("请求成功","success");
                        } else {
                            vm.error = true;
                            vm.errorMsg = result.msg;
                            vm.refreshCode();
                        }
                    }
                });
            }
        }
    });
</script>
</body>
</html>
